# Copier ce fichier en .env sur le VPS et remplir les valeurs

INTERNAL_SECRET=changez-moi-en-production-une-vraie-cle-secrete

KC_CLIENT_SECRET_AUTH=<secret-client-auth-service-keycloak-prod>
KC_CLIENT_SECRET_AUTH_DEV=<secret-client-auth-service-keycloak-dev>
KC_DB_PASSWORD=<mot-de-passe-postgres-keycloak>
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=<mot-de-passe-admin-keycloak>
